{% extends 'base.html' %}
{% load static %}

{% block title %}All posts{% endblock %}

{% block content %}

<div class="row">

        {% for obj in file_documents %}
        <ul class="w-25" style="list-style-type:none">
            <li>
        <div class="card">

            <div class="card-body">
                <h4 class="card-title">{{obj.title |capfirst}}</h4>
                <span class="badge badge-info text-light">Format : {{obj.document_type}} </span>
                                        {% if obj.public %}
                                        <span class="badge badge-warning text-light mt-1">Public doc  </span></br>
                                        {% else  %}
                                        <span class="badge badge-dark text-light mt-1">Private doc</span></br>
                                        {% endif %}


                <i class="far fa-calendar-alt"></i> <small>Created :{{ obj.created_on|date:" d M, Y" }}</small>
                <p class="card-text text-justify">{{obj.summary |truncatechars:200}} </p>
                <a href="{% url 'file_document_detail' obj.uuid%} " class="btn-dark btn-sm" role="button">View More</a>
                <a href="{% url 'edit_file_document' obj.uuid%} " class="btn-info btn-sm" role="button">Edit</a>
                <a href="{% url 'delete_file_document' obj.uuid%} " class="btn-danger btn-sm" role="button">Delete</a>


            </div>
        </div>
            </li>
        </ul>
        {% endfor %}
</div>


{% endblock %}
